*~
*.o
*.la
*.pc
*.lo
Makefile.in
Makefile
.deps/
.libs/
/aclocal.m4
/autom4te.cache/
/autoscan.log
/config.guess
/config.h.in
/config.h
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/Doxyfile
/examples/bson-inspect
/examples/gridfs
/examples/mongo-dump
/install-sh
/libtool
/ltmain.sh
/m4/*.m4
/missing
/tests/*.ok
/docs/html/
/docs/tutorial/examples/tut/
/b/
/.pc/
/stamp-h1
debian/autoreconf.*
debian/patches
debian/tmp/
debian/libmongo-client-dev/
debian/libmongo-client-doc/
debian/libmongo-client0-dbg/
debian/libmongo-client0/
*.debhelper*
*.substvars
build-tree/
debian/files
