*~
*.o
Makefile.in
Makefile
aclocal.m4
depcomp
/autom4te.cache/
/autoscan.log
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/install-sh
/ltmain.sh
/m4/
/missing
/doc/html/
/.pc/
/b/
/lib/bson-element-*.c
